In [32]:
import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

DATA_DIR = '../data'

# SKU基本信息表

In [4]:
csv_file = os.path.join(DATA_DIR, 'jdata_sku_basic_info.csv')
df = pd.read_csv(csv_file)

In [8]:
df.describe()

,sku_id,price,cate,para_1,para_2,para_3
count,99412.000000,9.941200e+04,99412.000000,99412.000000,99412.000000,99412.000000
mean,49706.500000,1.404066e+03,71.675331,187.836283,-0.070595,-0.117119
std,28697.916818,2.480563e+04,28.310322,4139.406198,1.696164,1.878670
min,1.000000,4.300000e+00,1.000000,0.080000,-1.000000,-1.000000
25%,24853.750000,2.732000e+02,71.000000,40.580000,-1.000000,-1.000000
50%,49706.500000,5.956500e+02,71.000000,74.090000,-1.000000,-1.000000
75%,74559.250000,1.185000e+03,101.000000,104.872500,-1.000000,-1.000000
max,99412.000000,3.880033e+06,101.000000,475292.880000,6.000000,7.000000

In [36]:
sns.distplot(df['para_3'], hist=False, rug=True, color="r", ax=axes[0, 1])

NameError: name 'axes' is not defined

In [28]:
df['cate'].value_counts()

71     41959
101    30344
83      7638
30      7380
1       7333
46      4758
Name: cate, dtype: int64

In [30]:
df['para_2'].value_counts()

-1    75026
 3    11109
 2     7227
 4     3443
 1     1735
 5      512
 6      360
Name: para_2, dtype: int64

In [31]:
df['para_3'].value_counts()

-1    80537
 4     9717
 3     3095
 5     2627
 2     2497
 1      606
 6      325
 7        8
Name: para_3, dtype: int64

In [23]:
def describe(df, *args):
    result = []
    columns = []
    for arg in args:
        desc = df[arg].value_counts()
        result.extend([desc.index, desc.values])
        columns.extend([arg + '.index', arg])
    return pd.DataFrame(list(zip(*result)), columns=columns)