# 用户行为表

In [5]:
import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

DATA_DIR = '../../data'

In [6]:
csv_file = os.path.join(DATA_DIR, 'jdata_user_action.csv')
df = pd.read_csv(csv_file)

In [7]:
df.describe()

            user_id        sku_id         a_num        a_type
count  6.944141e+06  6.944141e+06  6.944141e+06  6.944141e+06
mean   4.936192e+04  5.030439e+04  2.010429e+00  1.010165e+00
std    2.865372e+04  2.913398e+04  2.329842e+00  1.003099e-01
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    2.451800e+04  2.475300e+04  1.000000e+00  1.000000e+00
50%    4.939500e+04  5.080600e+04  1.000000e+00  1.000000e+00
75%    7.414000e+04  7.554200e+04  2.000000e+00  1.000000e+00
max    9.892400e+04  9.941200e+04  8.870000e+02  2.000000e+00