# 用户订单表

In [2]:
import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

DATA_DIR = '../../data'

In [3]:
csv_file = os.path.join(DATA_DIR, 'jdata_user_order.csv')
df = pd.read_csv(csv_file)

In [7]:
df.shape

(792723, 6)

In [4]:
df.describe()

,user_id,sku_id,o_id,o_area,o_sku_num
count,792723.000000,792723.000000,792723.000000,792723.000000,792723.000000
mean,49441.676641,50917.841916,330414.033674,15.827068,1.509469
std,28627.282074,29025.466724,190802.321306,8.275580,1.724847
min,1.000000,2.000000,1.000000,1.000000,1.000000
25%,24584.500000,25469.000000,165161.500000,8.000000,1.000000
50%,49604.000000,51528.000000,330379.000000,17.000000,1.000000
75%,74113.000000,75618.000000,495659.500000,23.000000,2.000000
max,98924.000000,99410.000000,660933.000000,31.000000,200.000000

In [5]:
df['user_id'].nunique()

98924

In [6]:
df['sku_id'].nunique()

25474

In [8]:
df['o_id'].nunique()

660933

In [9]:
df['o_area'].value_counts()

8     145322
17     81484
10     60778
20     54425
2      39409
21     36787
25     35364
27     33483
7      31536
30     30358
16     23521
18     23456
24     22713
26     22619
28     21346
13     20693
29     18927
9      17273
23     11048
19      8152
3       7696
4       7599
14      7328
31      6536
5       5503
22      5480
1       5317
12      5251
15      2175
11      1011
6        133
Name: o_area, dtype: int64

In [12]:
df['o_sku_num'].value_counts()[:20]

1      572037
2      141559
3       34185
4       26003
6        7606
5        6695
8        1633
10       1000
7         566
12        379
9         267
20        125
11        124
16        109
18         84
13         65
15         57
180        30
24         28
17         19
Name: o_sku_num, dtype: int64