# 用户基本信息表

In [1]:
import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

DATA_DIR = '../../data'

In [2]:
csv_file = os.path.join(DATA_DIR, 'jdata_user_basic_info.csv')
df = pd.read_csv(csv_file)

In [3]:
df.describe()

            user_id           age           sex    user_lv_cd
count  98924.000000  98924.000000  98924.000000  98924.000000
mean   49462.500000      2.190459      1.489022      3.243288
std    28557.043352      1.937132      0.811357      1.067706
min        1.000000     -1.000000      0.000000      1.000000
25%    24731.750000      2.000000      1.000000      2.000000
50%    49462.500000      3.000000      2.000000      3.000000
75%    74193.250000      3.000000      2.000000      4.000000
max    98924.000000      6.000000      2.000000      5.000000